footer{
    /* background-image: url(https://res.cloudinary.com/dtyjzv2xg/image/upload/v1682974644/istockphoto-1126182474-612x612_wa88lu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: black;
    border-bottom: white solid 1px;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: solid 3px rgb(158,212,252);
}
footer h2{
    /* background: rgb(158,212,252);
    background: linear-gradient(90deg, rgba(158,212,252,1) 0%, rgba(207,130,247,1) 25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none; */
    color: white;
    font-size: 20px;
    
}