main{
    min-height: 75vh;
    background-color: gray;
}
.DashboardContainer{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.DashboardContainer ul{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 10vh;
    
}
.saludos{
    background: rgb(158,212,252);
    background: linear-gradient(90deg, rgba(158,212,252,1) 0%, rgba(207,130,247,1) 25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    margin: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.figureDashboard{
    width: 300px;
    height: 300px;
    margin: 6rem; 
}

.figureDashboard img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.75);
}

.figureDashboard img:hover{
    -webkit-box-shadow: 0px 0px 22px 10px rgba(227,132,252,1);
-moz-box-shadow: 0px 0px 22px 10px rgba(227,132,252,1);
box-shadow: 0px 0px 22px 10px rgba(227,132,252,1);

}
@media screen and ( max-width: 550px){
    .figureDashboard{
        
        margin: 3rem 0; 
    }
    .DashboardContainer ul{
        padding-top: 6vh;
    }
}