main{
    min-height: 80vh;
    background-color: #242424;
}
.DashboardContainer{
    width: 100vw;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .DashboardContainer ul{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding-top: 1vh; 
} */
.conteun{
    width: 400px;
}
.DashboardContainer ul{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.DashboardContainer ul::-webkit-scrollbar{
 display: none;
}
.card{
    
    scroll-snap-align: start;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gameName{
    font-size: 30px;
    color: white;
}
.saludos{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.figureDashboard{
    width: 300px;
    height: 300px;
    margin: 3rem;
}
.figureDashboard img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.75);
}

.figureDashboard img:hover{
    -webkit-box-shadow: 0px 0px 22px 10px white;
-moz-box-shadow: 0px 0px 22px 10px white;
box-shadow: 0px 0px 22px 10px white;
/* rgba(227,132,252,1) */
}
@media screen and ( max-width: 550px){
    .DashboardContainer ul{
        padding-top: 6vh;
    }
}