.rayaDiv1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rayaDiv2{
    margin: 5rem 0;
    min-width: 70vw;
    min-height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 30px;
}
.Cuadricula{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}
.cuadro{
    border: 1px solid black;
    list-style: none;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cuadro img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cuadroLleno{
    border: 1px solid black;
    list-style: none;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cuadroLleno img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and ( max-width: 730px){
    .cuadro{
        width: 150px;
        height: 150px;
    }
    .cuadroLleno{
        width: 150px;
        height: 150px;
    }
    .rayaDiv2{
        min-height: 50vh;
    }
}
@media screen and ( max-width: 600px){
    .cuadro{
        width: 100px;
        height: 100px;
    }
    .cuadroLleno{
        width: 100px;
        height: 100px;
    }
    .rayaDiv2{
        min-height: 30vh;
    }
}
@media screen and ( max-width: 600px){
    .cuadro{
        width: 80px;
        height: 80px;
    }
    .cuadroLleno{
        width: 80px;
        height: 80px;
    }
    
}